#chakra-toast-manager-bottom-left {
  left: 30px !important;
  bottom: 90px !important;
}

[data-toast-inner] {
  max-width: 100% !important;
}

.my-masonry-grid {
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > .list-item {
  margin-bottom: 20px;
}
